<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodCar</title>
    <link rel="stylesheet" href="../static/public/css/foodtruck.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href=""><img src="" alt=""></a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Over ons</a></li>
            <li class="actual"><a href="">Truck zoeken</a></li>
            <li><a href="">Truck aanmelden</a></li>
            <li><a href="">Vacatures</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <ul>
            <li><a id="home" href="">Menu</a></li>
            <li><a href=""><img src="..static/public/icons/LookupIcon.png" alt="zoek"></a></li>
            <li><a href=""><img src="..static/public/icons/RatingStarWhiteIcon.png" alt="favoriet"></a></li>
        </ul>
    </nav>


    <main>
        <header>
            <h1>Zoek een Truck</h1>
        </header>

        <article>

            <header>
                <h1>{{naam}}</h1>
            </header>

    </main>

    <footer>
        <ul>
            <li><img src="..static/public/icons/TruckIconRed.png" alt="U bevindt zich in de zoek-modus"></li>
            <li><img src="../static/public/icons/ContractIconWhite.png" alt="U bevindt zich niet in de afspraken-modus">
            </li>
        </ul>
        <p>Ontwerp door Isa-Jane Ensing, Klas Oker, 2018</p>
    </footer>

</body>

</html>