<!DOCTYPE html>
<html lang="nl">

<% include foodtrucksHead.ejs %>

<body>

    <nav>
        <ul>
            <li><a href=""><img src="" alt=""></a></li>
            <li><a href="./foodtrucks.html">Home</a></li>
            <li><a href="">Over ons</a></li>
            <li class="actual"><a href="">Truck zoeken</a></li>
            <li><a href="">Truck aanmelden</a></li>
            <li><a href="">Vacatures</a></li>
            <li><a href="">Contact</a></li>
        </ul>

        <ul>
            <li><a id="home" href="foodtrucks.html">Menu</a></li>
            <li><a href=""><img src="./icons/LookupIcon.png" alt="zoek"></a></li>
            <li><a href=""><img src="./icons/RatingStarWhiteIcon.png" alt="favorieten"></a></li>

        </ul>
    </nav>


    <main>
        <header>
            <h1>Zoek een Truck</h1>
            <p class='status'>Filter</p>
        </header>

        <ul>
            <li>
                <article>
                    <figure>
                        <img src="../../assets/HongKongFoodTruck.jpg" alt="Food Truck Hong Kong">
                        <figcaption>By <a href="//commons.wikimedia.org/wiki/User:Oxfordian_Kissuth"
                                title="User:Oxfordian Kissuth">Oxfordian Kissuth</a></figcaption>
                    </figure>
                    <section>
                        <header>
                            <h2>Beef &amp; Liberty</h2>
                            <img src="./icons/RatingStarRedIcon.png" alt="gekozen">
                        </header>

                        <p>Uitgerust met BBQ en grillplaat</p>
                    </section>
                </article>

            </li>

            <li>
                <article>
                    <figure>
                        <img src="../../assets/FoodTruckLondon.jpg" alt="">
                        <figcaption>By <a href="https://en.wikipedia.org/wiki/File:Food_truck_in_London.jpg"
                                title="Creative Commons Attribution-Share Alike 3.0">Oxfordian Kissuth</a></figcaption>
                    </figure>
                    <section>
                        <header>
                            <h2>Coffee Break</h2>
                            <img src="./icons/RatingStarRedIcon.png" alt="gekozen">
                        </header>
                        <p>Koffie, zoete en hartige hap </p>
                    </section>
                </article>

            </li>

            <li>
                <article>
                    <figure>
                        <img src="../../assets/FoodtruckChina.jpg" alt="">
                        <figcaption>By <a
                                href="https://en.wikipedia.org/wiki/File:Chinese-food_truck_in_Noum%C3%A9a,_New_Caledonia,_2011.jpg">George
                                Louis</a></figcaption>
                    </figure>
                    <section>
                        <header>
                            <h2>Chicken Car</h2>
                            <img src="./icons/RatingStarRedIcon.png" alt="gekozen">
                        </header>
                        <p>volledig geoutilleerd met frituurpan, grillplaat en wok</p>
                    </section>
                </article>

            </li>

            <li>
                <article>
                    <figure>
                        <img src="../../assets/TacoTruckStLouis.jpg" alt="">
                        <figcaption>By <a href="https://en.wikipedia.org/wiki/File:Taco_Truck_St_Louis_MO.jpg">Paul
                                Sableman </a></figcaption>
                    </figure>
                    <section>
                        <header>
                            <h2>Taco monster</h2>
                            <img src="./icons/RatingStarRedIcon.png" alt="gekozen">
                        </header>
                        <p>Nostalgisch 70er jaren van</p>
                    </section>
                </article>

            </li>

            <li>
                <article>
                    <figure>
                        <img src="../../assets/MobileCafeBrisbane.jpeg" alt="">
                        <figcaption>By <a
                                href="https://en.wikipedia.org/wiki/File:Mobile_cafe_in_South_Bank_Parklands,_Brisbane.jpeg"
                                title="User:Kgbo">Kgbo</a> - Own
                            work</figcaption>
                    </figure>

                    <section>
                        <header>
                            <h2>Hippie Bus</h2>
                            <img src="./icons/RatingStarRedIcon.png" alt="gekozen">
                        </header>
                        <p>Met mobiel terras</p>
                    </section>
                </article>
            </li>

            <li>

                <article>
                    <figure>
                        <img src="../../assets/RoastedChicken.jpg" alt="">
                        <figcaption>By <a href="//commons.wikimedia.org/wiki/User:%E7%8E%84%E5%8F%B2%E7%94%9F"
                                title="User:玄史生">玄史生</a> - Own work</figcaption>
                    </figure>

                    <section>
                        <a href="./foodtruck.html">
                            <header>
                                <h2>Mini Van</h2>
                                <img src="./icons/RatingStarRedIcon.png" alt="gekozen">
                            </header>
                        </a>
                        <p>Past in een verhuiswagen</p>
                    </section>
                </article>

            </li>

        </ul>

    </main>

    <footer>
        <ul>
            <li><img src="./icons/TruckIconRed.png" alt="U bevindt zich in de zoek-modus"></li>
            <li><img src="./icons/ContractIconWhite.png" alt="U bevindt zich niet in de afspraken-modus"></li>
        </ul>
        <p>Ontwerp door Isa-Jane Ensing, Klas Oker, 2018</p>
    </footer>

</body>

</html>