<!DOCTYPE html>
<html lang="nl">

<nav>
    <ul>
        <li><a href=""><img src="" alt=""></a></li>
        <li><a href="./foodtrucks.html">Home</a></li>
        <li><a href="">Over ons</a></li>
        <li class="actual"><a href="">Truck zoeken</a></li>
        <li><a href="">Truck aanmelden</a></li>
        <li><a href="">Vacatures</a></li>
        <li><a href="">Contact</a></li>
    </ul>

    <ul>
        <li><a id="home" href="foodtrucks.html">Menu</a></li>
        <li><a href=""><img src="./icons/LookupIcon.png" alt="zoek"></a></li>
        <li><a href=""><img src="./icons/RatingStarWhiteIcon.png" alt="favorieten"></a></li>

    </ul>
</nav>




</body>

</html>